<div class="container">
  <div class="col-md-8">
    <%= form_for wiki do |f| %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter Wiki Title" %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>

      <% if current_user.admin? || current_user.premium? %>

        <div class="form-group">
          <%= f.label :private, class: 'checkbox' %>
          <%= f.check_box :private %> Private wiki
        </div>

        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>

        <div class="form-group">
          <%= f.label :collaborators %>
          <br/>
          <% # check if premium/admin and maybe check if wiki is private %>
          <% if current_user.admin? || (current_user.premium? && wiki.private?)%>
            <% User.all.each do |user| %>
              <% "================" %>
              <%print wiki.collaborators %>
              <%= form_for [wiki, Collaborator.new] do |collab_form| %>
                <h1>
                  <span>

                    <%= user.email %>
                    <% if wiki.collaborators.find {|collaborator| collaborator.user_id == user.id} != nil %>
                      <%= link_to "Add", wiki_create_path(wiki.id, :user_ID => user.id), class: 'btn btn-info', method: :create %>
                    <% else %>
                      <% # find the collaborator for this user and wiki Collabotor.where(user_id: user.id, wiki_id: wiki.id).first %>
                      <%= link_to "Delete", wiki_destroy_path(wiki.id, :user_ID => user.id), class: 'btn btn-danger', method: :destroy %>
                    <% end %>
                  </span>

                </h1>
              <% end %>

            <% end %>

          <% end %>
        </div>
      <% end %>



    <% end %>
  </div>


</div>
